.menu__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu__catalog {
  height: 60px;
  display: flex;
  align-items: center;
}

.menu__open {
  width: 24px;
  margin-right: 18px;
  
  svg {
    display: block;
    fill: @black;
  }
}

.menu__text {
  display: block;
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1;
}

.menu__btn {
  display: none;
}

.menu__list {
  .reset();
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.menu__item {
  position: relative;
  margin-left: 45px;
  .transition();
  
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    opacity: 1;
    height: 3px;
    background-color: #A68563;
    .transition();
  }
  
  &:hover,
  &:active {
    &::after {
      width: 100%;
      opacity: 1;
      .transition();
    }
  }
  
  &--active::after {
    width: 100%;
    opacity: 1;
  }
}

.menu__link {
  display: block;
  padding: 11px 0;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}
